vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
public/banners/KQ5eR7593i7sMR8lXEteZQiSLTC7JeKMFua9SsOe.jpeg
public/banners/pzLTGdv50RbiaqU5z1dwNmoAHS5ESIzEKYLxfHEQ.jpeg
public/photos/2MU9RwLlCNaYatO5zAizschUypZ4PeQirEmybl1y.jpeg
public/photos/x2kiYKRJZD6S5ughXJh1ebdpUjV16qQdVglQgKYA.jpeg
public/banners/fAaDntPld15Drv6WB0fuKqnYGQ1kiZPfe0Fq7ckV.jpeg
public/photos/vRvT7xYCvbBgKueEGpX7zYvgQQllsBXv9VHFzW1g.jpeg
public/banners/jD7NruPLBZbcP02Z4PDAiyTUDiWqUfDdf6dXRuTU.jpeg
public/photos/hKUkupQRnvIL6mqoTgqsb9xnBzkdANHJTEuqCcAB.jpeg
public/photos/wjxArkXROaHivWUlGh0kvsDke4moWZQTGBc9ksJU.jpeg
