body{
    background-image: url("/webby/9345.png");
    background-attachment: fixed;
    background-position-x: right;
    background-size: cover;
}
.navbar{
    margin-bottom: unset;
}
.navbar-brand{
    padding-top: 10px;
}
#main{
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 20px; 
}
#footer{
    background: #ddd;
}
.modal-content{
    background-image: url("/webby/9345.png");
    background-attachment: fixed;
    background-position-y: center;
    background-size: cover;
}
.modal-body{
    background: #fff;
}
.modal-backdrop.in{
    opacity: 1;
    background: #fff;
    background-image: url("/webby/9345.png");
    background-attachment: fixed;
    background-position-x: right;
    background-size: cover;
 }